body {
  background-color: #1b1a12;
  background-image: url('gardenwall_annie-spratt-unsplash.jpg') !important;
  background-size: auto;
  background-repeat: repeat-y;

};

a {
  color: #a6383e;
}

.navbar {
  background-color: #f6f6fe;
  align-content: center;
}

p {
  font-family: ;
  font-size: ;
  color: ;
};

h2 {
  font-family: ;
  font-size: ;
  color: ;
};
