body {
  background-color: #1b1a12;
  background-image: url('gardenwall_annie-spratt-unsplash.jpg') !important;
  background-size: cover;
  background-repeat: repeat-y;

};

.navbar {
  background-color: #f6f6fe
}

p {
  font-family: ;
  font-size: ;
  color: ;
};

h2 {
  font-family: ;
  font-size: ;
  color: ;
};
