body {
  background-color: #1b1a12;
  background-image: url('gardenwall_annie-spratt-unsplash.jpg') !important;
  height: 750px;
  background-position: center; 
  background-repeat: repeat-y;
  background-size: cover; /* Resize the background image to cover the entire container */
};

a {
  color: #a6383e !important;
}

.navbar {
  background-color: #f6f6fe;
  align-content: center;
}

/*
p {
  font-family: ;
  font-size: ;
  color: ;
};

h2 {
  font-family: ;
  font-size: ;
  color: ;
};
*/