<div class="navbar navbar-expand-lg navbar-light" style="background-color: #f6f6fe;">
  <a class="navbar-brand" href="#">crash.garden</a>
    <div class="navbar-nav">
      <!-- TODO figure out how to dynamically set 'active' link -->
      <a class="nav-item nav-link" href="{{ url_for('index') }}">home</a>
      {% if current_user.is_anonymous %}
      <a class="nav-item nav-link" href="{{ url_for('login') }}">login</a>
      {% else %}
      <a class="nav-item nav-link" href="{{ url_for('new') }}">new</a>
      <a class="nav-item nav-link" href="{{ url_for('user', username=current_user.username) }}">profile</a>
      <a class="nav-item nav-link" href="{{ url_for('logout') }}">logout</a>
      {% endif %}
  </div>
</div>
