<nav class="navbar" style="background-color: #f6f6fe;">
  <a class="navbar-brand col-sm-2" href="#">crash.garden</a>
    <div class="navbar-nav col-sm-8">

      <div class="nav-item col-sm-2">
        <a class="nav-link align-bottom mx-auto" href="{{ url_for('index') }}">home</a>
      </div>

      {% if current_user.is_anonymous %}
      <div class="nav-item col-sm-2">
        <a class="nav-link align-bottom mx-auto" href="{{ url_for('login') }}">login</a>
      </div>

      {% else %}

      <div class="nav-item col-sm-2">
        <a class="nav-link align-bottom mx-auto" href="{{ url_for('new') }}">new</a>
      </div>
      <div class="nav-item col-sm-2">
        <a class="nav-link align-bottom mx-auto" href="{{ url_for('user', username=current_user.username) }}">profile</a>
      </div>
      <div class="nav-item col-sm-2">
        <a class="nav-link align-bottom mx-auto" href="{{ url_for('logout') }}">logout</a>
      </div>

      {% endif %}
    </div>
  </div>
</nav>

