<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.title.label }}<br>
    {{ form.title(size=50) }}<br>

    {% for error in form.title.errors %}
    <span class="err" style="color:darkred;"> {{ error }} </span>
    {% endfor %}
  </p>
  <p>
    {{ form.post.label }}<br>
    {{ form.post(cols=50, rows=5) }}<br>
    {% for error in form.post.errors %}
    <span class="err" style="color:darkred;"> {{ error }} </span>
    {% endfor %}
  </p>

  <p>{{ form.submit() }}</p>
</form>
