<div class="container w-60">
<nav role="navigation" aria-label="pagination">
  <div class="container">
        <ul class="pager">
          {% if prev_url %}
            <li class="previous">
                <a href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
          {% endif %}
          {% if next_url %}
            <li class="next">
                <a href="{{ next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
          {% endif %}
        </ul>
  </div>
</nav>
</div>
<div class="container w-100"></div>
