<!-- Base Template -->

<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>crashtestblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            <!-- url_for - endpoint / name of view function, not URL based in case it changes -->
            crashtestblog | 
            <a href="{{ url_for('index') }}">home</a> | 
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}
    </body>
</html>
