<!-- Base Template -->
{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('.static', filename='main/style.css') }}">
{% endblock %}
{% block title %}
  {% if title %} {{ title }} - crash.garden {% else %} crash.garden {% endif %}
{% endblock %}

{% block body %}
{% block navbar %}
  {% include '_nav.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    <div id="main" class="w-66 mx-auto" style="background-color: #f6f6fe; margin: 50px;">

      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% endblock %}
