{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
          <td>
            <h2>user: {{ user.username }}</h2>
          </td>
        </tr>
        <tr>
          <td>
            {% if user.about_me %}
                <p>{{ user.about_me }}</p>
            {% endif %}
            </td>
        <tr>
          <td></td>
          <td>
              {% if user == current_user %}
              <p><a href="{{ url_for('edit_profile') }}">edit profile</a></p>
              {% endif %}
          </td>
        </tr>
    </table>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}


    {% if prev_url %}
      <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
